#!/usr/bin/env bash
set -euxo pipefail

export AWS_REGION="${aws_region}"
export AGENT_NAME="${agent_name}"
export AGENT_PARAM="${agent_param}"
export JENKINS_REPO_URL="${jenkins_repo_url}"
export ASG_NAME="${asg_name}"
export LIFECYCLE_HOOK_NAME="${lifecycle_hook_name}"

dnf install -y curl >/dev/null
exec bash <(curl -fsSL "${jenkins_repo_raw_url}/scripts/user-data-agent.sh")
